---
---

@import "{{ site.theme }}";

code.highlighter-rouge {
  color: #c7254e;
}

.page__content {
  text-align: justify;
}

.width-half {
    width: 50%
}

.width-sidebyside {
  width: 49%
}

.width-tryptic {
  width: 32%
}