---
---

// $background-color : #FAEBEFFF;
// $body-color :#FAEBEFFF;
// $text-color : #333D79FF;
$background-color : rgb(236,246,246);
$body-color : rgb(236,246,246);
$text-color : rgb(5,50,172);
// $link-color : #FCAF58;
$link-color : #124FF8;
$masthead-link-color : rgb(5,50,172);


@import "{{ site.theme }}";

a:hover {
  color: #0ACAFF;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
} 
a:active {
  text-decoration: none;
}

code.highlighter-rouge {
  color: #c7254e;
}

.page__content {
  text-align: justify;
}

.width-threequarters {
  width: 75%
}

.width-quarter {
  width: 24%;
}

.width-half {
    width: 50%
}

.width-sidebyside {
  width: 49%
}

.width-tryptic {
  width: 32%
}

.width-full {
  width: 100%
}

.height-small_fixed {
  height: 140px;
  margin-bottom: 10px;
  margin-left: 10px
}

.height-medium_fix {
  height: 480px;
  margin-bottom: 10px;
}
