---
---

@import "{{ site.theme }}";

code.highlighter-rouge {
  color: #c7254e;
}

.page__content {
  text-align: justify;
}

.width-threequarters {
  width: 75%
}

.width-quarter {
  width: 24%;
}

.width-half {
    width: 50%
}

.width-sidebyside {
  width: 49%
}

.width-tryptic {
  width: 32%
}

.height-small_fixed {
  height: 140px;
  margin-bottom: 10px;
}

.height-medium_fix {
  height: 480px;
  margin-bottom: 10px;
}
